[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
coverage = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
pyyaml = "*"
uritemplate = "*"
coreapi = "*"
django-filter = "*"
pillow = "*"
channels = "*"

[dev-packages]

[requires]
python_version = "3.10"
